<!-- * /flight: Flight List (form) -->
<!-- * when flights are created/added, user will be redirected here and can view list of flights --> 
<!-- <link rel="stylesheet" href="../public/stylesheets/style.css"> -->
<!DOCTYPE html> 
<html lang="en">
<head> 
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flights List</title>
</head>
<body>
  <h1>List of all Flights</h1>
  <!-- ? I get what this is tyring to do, but it's not working. -->
  <a href="/">Home</a>
  <a href="/flights/new">Add Flight</a>
  <% flights.forEach(flight => { %> 
    <h3>Airline:</h3>
    <p><%= flight.airline %> </p>
    <h3>Airport:</h3>
    <p><%= flight.airport %></p>
    <h3>Departure Date & Times:</h3>
    <p> <%= flight.departs %> </p>
    <h3>Flight #</h3>
    <p> <%= flight.flightNo %> </p>
    <h3>Go to Details:</h3>
    <a href="/flights/show"> X </a>
  <br>
  <% }) %>
  <br>
</body>
</html>
