<!-- * /flights/new -->
<!-- * page that allows us to submit/add a new flight by providing an input area to a user -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" href="/public/stylesheets/style.css"> -->
  <!--? why does it hate every single attempt i make at linking my style.css? -->
  <title>Add Flight</title>
</head>
<body>
  <main>
    <form id="new-form" action="/flights" method="POST">
      <h1>Add a New Flight</h1>
        <label for="airline">Airline:</label>
        <select name="airline" id="airline">
          <option value="American">American</option>
          <option value="Southwest" selected>Southwest</option>
          <option value="United">United</option>
        </select>
        <br>
        <label for="airport">Airport:</label>
        <select name="airport" id="airport">
          <option value="AUS">AUS</option>
          <option value="DFW">DFW</option>
          <option value="DEN" selected>DEN</option>
          <option value="LAX">LAX</option>
          <option value="SAN">SAN</option>
        </select>
        <br>
        <label for="departs">Departs At:</label>
        <!-- <input type="datetime-local"> -->
        <input type="date" name="departs">
        <br>
        <label for="flightNo">Flight #</label>
        <input type="text" name="flightNo">
        <br>
        <br>
        <button type="submit">Add Your Flight</button>
        <!-- <button type="submit"> <a href="/flights">Add Your Flight</a> </button> -->
      </form>
</body>
</html>