<!-- * .show specific flight details -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/stylesheets/style.css">
  <title>Flight Details</title>
</head>
<body>
  <h1>Flight Details</h1>
  <br>
  <h3>Airline</h3>
  <br>
  <h3>Airport</h3>
  <br>
  <h3>Departs</h3>
  <br>
  <h3>Flight No</h3>
  <br>
  <h3>Tickets</h3>
  <br>

  
  <% if(error) { %>
    <h2><%= error %></h2>
  <% } else { %>
    <h2>Flight #<%= flight.flightNo %></h2>
    <h3>Airline: <%= flight.airline %></h3>
  <% } %>
  <a href="/flights">Go back</a>
</body>
</html> 