<!-- * .show specific flight details -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/stylesheets/style.css">
  <title>Flight Details</title>
</head>
<body>
  <div>
  <p>view properties of each indiv flight including tickets</p>
  <p>add ticket. seat and price</p>
  <p>view list of tickets</p>
  </div>
  
  <h1>Flight Details</h1>
  <br>
  <h3>Airline</h3>
  <br>
  <h3>Airport</h3>
  <br>
  <h3>Departs</h3>
  <br>
  <h3>Flight No</h3>
  <br>
  <h3>Tickets</h3>
  
  <br>
</body>
</html> 